* {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Choose your background color */
    color: white;

    padding: 30px 300px;
}

.logo img {
    width: 100px; /* Adjust the width as needed */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #2d2f98;

}

/* Style the links on hover if desired */
.nav-links a:hover {
    text-decoration: underline;
}

.image-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-center img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    padding: 20px;
    text-align: center;
}

.title h1 {
    display: inline;
    margin: 0px, 5px; /* Adjust the margin as needed for spacing */
}

/* Style the footer and its contents */
footer {
    background-color: #2d2f98; /* Choose your background color */
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

h3 {
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: white;
}

/* Copyright text */
.footer-copyright {
    text-align: center;
    margin-top: 20px;
}
/* Copyright text */
.footer-copyright {
    text-align: center;
    margin-top: 20px;
    color: #999; /* Copyright text color */
    font-size: 14px; /* Copyright text font size */
}

.about {
    display: flex;
    align-items: center;
}

.left-image {
    flex: 1;
    max-width: 35%;
    margin-right: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.right-content {
    flex: 1;
}

.right-content a{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 20px;
}

.right-content-header {
    display: flex;
    align-items: center;
}

.right-content-header h1 {
    margin: 0;
}
.carlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.carlist img {
    max-width: 200px;
    max-height: 200px;
    margin: 0 10px; /* Adjust the margin as needed for spacing */
}

/* Add any additional styling as needed */

/* Add any additional styling as needed */

